body {
    background: #e9f5f9;
}

#div_header {
    background-color: #e9f5f9;
    /* box-shadow: rgba(182, 214, 191, 0.27) 0px 2px 50px 0px,
    rgba(30, 124, 58, 0.04) -86px -92px 3px -47px; */
}

#name {
    font-family: "Courier New", monospace;
    text-align: left;
    text-decoration: none;
    color: #266160;
    text-shadow: #e7dcb9;
}

#title {
    font-size: 14px;
    font-family: "Comic Sans MS";
    color: #266160;
    text-align: left;
    text-decoration: none;
    color: #266160;
}

.head_link {
    border-radius: 5px;
    color: rgb(184, 127, 43);
    height: 25px;
    font-size: small;
    padding: auto;
    text-decoration: none;
}

#name {}

.head_link:hover {
    background-color: #d0e8d3;
    border-radius: 7px;
    transition: background-color 0.5s cubic-bezier(0.32, 0, 0.67, 0) 0s;
    /* background-color: #c0c7c6bd; */
    color: #266160;
}

.col_title {
    font-size: 14px;
    color: #b0933d;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: 0px 0px 0 rgb(133, 104, 18), 0px -1px 0 rgb(114, 85, 0), 0px -2px 0 rgb(95, 66, 0), 0px -3px 2px rgba(155, 224, 207, 0.05), 0px -3px 1px rgba(155, 224, 207, 0.5), 0px 0px 2px rgba(155, 224, 207, 0.2);
}

.col_title_success {
    color: #27968c;
}

.col_title_big {
    font-size: 20px;
    color: #27968c;
}

#about_me {
    min-height: 300px;
}

.accordion-item {
    background: #e9f5f9;
}

.screenshots {
    max-height: 350px;
    min-height: 350px;
    /*  */
    min-width: 450px;
    max-width: 450px;
    /*  */
}

.screenshots_desc {
    min-height: 70px;
    max-height: 70px;
}

.carousel-item {
    height: 280px;
    width: 450px;
}

.project_img {
    max-height: 255px;
    min-height: 255px;
    min-width: 425px;
    max-width: 425px;
}

#brief {
    min-height: 300px;
}

#hosting_div {
    min-height: 300px;
}

#algorithms {
    min-height: 300px;
}

#about_me {
    background: linear-gradient( 90deg, rgb(209, 226, 210) 0%, rgb(218, 233, 216) 35%, rgb(9, 151, 151) 100%);
    color: #266160;
}
