@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nav_drop_down {
  @apply block absolute z-10 top-[40px] left-[48px] right-[48px] h-auto border rounded-md bg-green-200 border-yellow-600;
}

.btn_nav {
  @apply bg-teal-900 text-orange-200 text-center  px-2 py-1 rounded-md  text-sm font-averia tracking-02;
}

.icn_socials {
  @apply inline mx-1 w-2.5 h-2.5 text-teal-800 bg-slate-300  border-teal-800 border p-1 rounded-full;
}

.icn_nav {
  @apply inline mx-2 w-5 h-5 my-0.125;
}

.nav_link {
  @apply flex justify-between items-center bg-teal-900 text-center pr-2 rounded-md  font-averia tracking-tight sm:text-base text-sm sm:w-fit w-full text-orange-300 hover:text-teal-200 transition;
}
