@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nav_drop_down {
  @apply block absolute z-10 top-[40px] left-[48px] right-[48px] h-auto border rounded-md bg-green-200 border-yellow-600;
}

.btn_nav {
  @apply bg-orange-800 text-wh text-center  px-3 py-1 rounded-md  text-sm font-averia;
}

.icn_socials {
  @apply inline  w-8 h-8 text-teal-800 bg-slate-300  border-teal-800 border-b-2 p-1 ;
}

.icn_socials_w8 {
  @apply inline  w-8 h-8 text-teal-800 bg-slate-300  border-teal-800 border-b rounded-full;
}

.icn_nav {
  @apply inline mx-1 w-4 h-4 my-1;
}

.nav_link {
  @apply flex gap-1 justify-center items-center bg-emerald-800 text-center px-2 font-sans text-sm sm:w-fit w-full text-orange-300 hover:text-teal-400 ;
}
